<div class="card card-chart">
  <div class="card-header card-header-warning">
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <app-image-display [folder]="foldernum" [numToDisplay]="0" #im1></app-image-display>
        <app-image-display [folder]="foldernum" [numToDisplay]="1" #im2></app-image-display>
        <app-image-display [folder]="foldernum" [numToDisplay]="2" #im3></app-image-display>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <app-image-display [folder]="foldernum" [numToDisplay]="3" #im4></app-image-display>
        <app-image-display [folder]="foldernum" [numToDisplay]="4" #im5></app-image-display>
        <app-image-display [folder]="foldernum" [numToDisplay]="5" #im6></app-image-display>
      </div>
    </div>
    <br />
  </div>
  <div class="card-body">
    <h4 class="card-title">{{infosfromthecard.title}}</h4>
  </div>
  <div class="card-footer">
    <p>{{infosfromthecard.legend}}</p>
  </div>
</div>
