<div class="card card-chart">
  <div class="card-header card-header-warning">
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <app-image-display [infoCard]="infosfromthecard" [numToDisplay]="0"></app-image-display>
        <app-image-display [infoCard]="infosfromthecard" [numToDisplay]="1"></app-image-display>
        <app-image-display [infoCard]="infosfromthecard" [numToDisplay]="2"></app-image-display>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <app-image-display [infoCard]="infosfromthecard" [numToDisplay]="3"></app-image-display>
        <app-image-display [infoCard]="infosfromthecard" [numToDisplay]="4"></app-image-display>
        <app-image-display [infoCard]="infosfromthecard" [numToDisplay]="5"></app-image-display>
      </div>
    </div>
    <br />
  </div>
  <div class="card-body">
    <h4 class="card-title">{{infosfromthecard.title}}</h4>
  </div>
  <div class="card-footer">
    <p>{{infosfromthecard.legend}}</p>
  </div>
</div>
