<div *ngIf="assets.SamesID.length != 0"class="card card-chart">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Already Seen</h4>
    <p>Here are the people you have already seen. You can merge them with the boxes above in case of need.</p>
  </div>
  <div class="card-body">
    <div  class="align-self-start">
      <app-image-display *ngFor="let person of assets.SamesID" [firstImage]="person.Get()[0]" (AddToSelection)="AddToSelection($event)" (RemoveFromSelection)="RemoveFromSelection($event)"></app-image-display>
    </div>
  </div>
</div>
