<div class="card card-chart">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto">
        <a class="btn btn-warning btn-block text-white" (click)="generateDownloadJsonUri1()" style="cursor:pointer">Dowload Json from folder 1</a>
      </div>
      <div class="col-md-4 ml-auto mr-auto">
        <a class="btn btn-warning btn-block text-white" (click)="generateDownloadJsonUri1()" style="cursor:pointer">Dowload Json from folder 2</a>
      </div>
    </div>
  </div>
</div>
