<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Informations about the folder number {{info.num}}</h4>
    <p class="card-category">Please enter the images related to the Json File.</p>
  </div>
  <div class="card-body">
    <div>
      <p>Upload the json of the folder number {{info.num}}</p>
      <div class="row">
        <div class="col-md-8">
          <input type="file" (change)="UploadedJson($event)" accept=".json" class="btn btn-warning btn-round ml-auto mr-auto">
        </div>
        <div class="col-md-4">
          <i class="material-icons">{{checkJson}}</i>
        </div>
      </div>
    </div>
    <div style="margin-top:10px;">
      <p>Locate the folder number {{info.num}}.</p>
      <p class="text-danger">Warning : It can takes time if there is a lot of images. Just wait for the browser to be ready.</p>
      <div class="row">
        <div class="col-md-8">
          <input type="file" webkitdirectory directory (change)="UploadedImages($event)" accept=".png" class="btn btn-warning btn-round ml-auto mr-auto">
        </div>
        <div class="col-md-4">
          <i class="material-icons">{{checkFolder}}</i>
        </div>
      </div>
    </div>
  </div>
</div>
