<div class="card card-chart">
  <div class="card-header card-header-warning">
    <div class="ct-chart" id="button-card">
      <h4 class="card-title">Buttons</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto">
        <button class="btn btn-warning btn-block" (click)="mergeFunction()">Merge id</button>
      </div>
      <div class="col-md-4 ml-auto mr-auto">
        <button class="btn btn-warning btn-block">This is not a person</button>
      </div>
    </div>
  </div>
</div>
