<div class="card card-chart">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto">
        <button class="btn btn-warning btn-block" (click)="mergeFunction()" style="cursor:pointer">Merge id</button>
      </div>
      <div class="col-md-4 ml-auto mr-auto">
        <button class="btn btn-warning btn-block" style="cursor:pointer">Not a person</button>
      </div>
      <div class="col-md-4 ml-auto mr-auto">
        <button class="btn btn-warning btn-block" style="cursor:pointer" (click)="DowloadJson()">Download</button>
      </div>
    </div>
  </div>
</div>
